body{
    margin: 0%;
    padding:0%;
    display: flex;
    flex-direction:column;
    text-align: center;
}
#exform{
    background-color: rgb(178, 191, 191);
    padding-top: 5px;
    padding-bottom: 5px;

}
table,tr,th,td{
    border: 1px solid black;
}